@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4"></h1>


       <img style=" width: 40%; height: 40%; "src="~/images/FullLogo1.png" class="img-responsive">
        <style>

            body {
                background-color: #141414;
               
                /*  background-image: url('images/fulllogo1.1.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: auto;
                background-position: center;*/
            }
        </style>
    </div>