@using Microsoft.AspNetCore.Identity;
@using Data.Entities
@inject SignInManager<User> signinManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Stock_Market</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <img style="margin-right:20px" src="~/images/headerlogo.png" class="img-responsive" height="35" width="90" alt="" />

                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">WebStockMarket</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>

                        @if (this.signinManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Info">Profile</a>
                            </li>
                            <li style="margin-left:35%" class="nav-item">
                                <a class="btn btn-outline-info text-white" asp-area="" asp-controller="User" asp-action="Logout">Logout</a> <span class="label text-white">@User.Identity.Name</span>
                            </li>
                        }
                        else
                        {
                            <li style="margin-left:50%" class="nav-item">
                                <a class="btn btn-success text-white" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                            </li>
                            <li style="margin-left:7px" class="nav-item">
                                <a class="btn btn-success text-white" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Web_Stock_Market - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
